@import 'colors';

* {
  box-sizing: border-box;
  line-height: 1em;
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}

.logo {
  height: 30px;
  padding-left: 16px;
  margin: 14px 0;
}

.layout {
  min-height: 100vh;
  color: $color-foreground;
  display: flex;
  flex-direction: column;
}

.layout__header {
  height: 58px;
  flex-shrink: 0;
}

.layout__nav {
  max-width: 960px;
  margin: 0 auto;
}

.layout__content {
  background-color: $color-background;
  flex-grow: 1;
  padding: 16px;
}

.layout__footer {
  background-color: $color-background-footer;
  // height: 340px;
  flex-shrink: 0;
}

.action-card {
  background: #fff;
  transition: all 0.175s ease-in-out;
}

.action-card:hover {
  background-color: $color-highlight;
  cursor: pointer;
  color: #fff;
}

.category-list {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-card {
  margin: 1%;
  width: 31.33333%;
  height: 368px;
  background: #fff;
  color: #204056;
  text-align: center;
  color: #204056;
  flex-shrink: 0;
  min-width: 280px;
}

.category-card__title {
  font-size: 26px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 32px;
}

.category-card__content {
  padding: 16px;
}

.category-card__pic {
  margin-top: 32px;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

.category-card__content__date {
  font-size: 13px;
  margin-top: 20px;
}

.task-list {
  padding: 0 127px;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.task-card {
  height: 127px;
  margin: 44px 0;
  display: flex;
  align-items: center;
}

.task-card__progress {
  min-width: 5rem;
  width: 20%;
  text-align: center;
}

.task-card__progress__value {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #f1f2f2;
  color: #4a4a4c;
  font-weight: 700;
  text-align: center;
  line-height: 3rem;
}

.task-card--completed .task-card__progress__value {
  background: $color-highlight;
  color: #fff;
  transition: all 0.175s ease-in-out;
}

.task-card--completed:hover .task-card__progress__value {
  background: #f1f2f2;
  color: #4a4a4c;
}

.task-card__content {
  padding: 16px 80px 16px 0;
  position: relative;
  flex-grow: 1;
}

.task-card__content::after {
  position: absolute;
  display: block;
  right: 1rem;
  top: 50%;
  font-family: 'new-cc-icon';
  content: '\e629';
  color: #f1f2f2;
  transform: translateY(-50%);
  font-size: 3rem;
}

.task-card__title {
  font-size: 18px;
  color: #204056;
  font-weight: 300;
  margin: 0;
  line-height: 24px;
}

.step-slider {
  max-width: 960px;
  padding: 16px;
  margin: 0 auto;
}

.step-slider__progress-bar {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: center;
  height: 18px;
}

.step-slider__progress-dot {
  background-color: rgb( 188, 190, 192 );
  height: 12px;
  width: 12px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  margin: 0 2px;
}

.step-slider__progress-dot--completed,
.step-slider__progress-dot--current {
  background-color: $color-highlight;
}

.step-slider__progress-dot--current {
  height: 18px;
  width: 18px;
}

.step-slider__container {
  margin-bottom: 16px;
  white-space: nowrap;
}

.step-slider__slide {
  background: #fff;
  padding: 32px;
  width: 100%;
  display: inline-block;
  white-space: normal;
}

.step-slider__button {
  line-height: 3rem;
  font-size: 1.125rem;
  border: none;
  border-radius: 50px;
  width: 120px;
  font-weight: 700;
  cursor: pointer;
  background: none;
  outline: none;
  height: 3rem;
  padding: 0;
}

.step-slider__prev {
  border: 1px solid lighten( $color-foreground, 20 );
  color: lighten( $color-foreground, 20 );
  transition: all 0.175s ease-in-out;
}

.step-slider__prev:hover {
  border-color: lighten( $color-foreground, 10 );
  color: lighten( $color-foreground, 10 );
}

.step-slider__next {
  background: $color-highlight;
  float: right;
  color: #fff;
  transition: all 0.175s ease-in-out;
  overflow: hidden;
}

.step-slider__next span {
  display: inline-block;
  transition: all 0.175s ease-in-out;
  transform: translateY(-3rem);
  line-height: 3rem;
}

.step-slider__next:hover {
  background: darken( $color-highlight, 5 );
}

.step-slider__next:hover span {
  transform: translateY(0);
}

.step-slider__slide h3 {
  font-size: 26px;
  color: #204056;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 300;
}

.step-slider__slide * {
  font-size: 18px;
  line-height: 28px;
}

.step-slider__slide p {
  margin-top: 0;
  margin-bottom: 1em;
}
