<div class="layout">
  <header class="layout__header">
    <nav ng-controller="LanguageController" class="layout__nav">
      <a href="/">
        <img class="logo" src="img/settled.png" />
      </a>
    <div class="flag" ng-click="selectLanguage(language.name)" ng-repeat="language in languages">
      <img class="flag__img" src="{{language.image}}">
    </div>
    </nav>
  </header>

  <div class="layout__content">
    <route path="/" view="views/dashboard.html"></route>
    <route path="/category/:id" view="views/category.html"></route>
    <route path="/task/:id" view="views/task.html"></route>
  </div>

  <footer class="layout__footer">

  </footer>
</div>
