<div class="task-list" vertical>
  <div class="task-card action-card">
    <div class="task-card__progress">
      <div class="task-card__progress__value">0%</div>
    </div>
    <div class="task-card__content">
      <h5 class="task-card__title">title</h5>
      <div class="task-card__description">description</div>
    </div>
  </div>
  <div class="task-card action-card task-card--completed">
    <div class="task-card__progress">100%</div>
    <div class="task-card__content">
      <h5 class="task-card__title">title</h5>
      <div class="task-card__description">description</div>
    </div>
  </div>
  <div class="task-card action-card">
    <div class="task-card__progress">50%</div>
    <div class="task-card__content">
      <h5 class="task-card__title">title</h5>
      <div class="task-card__description">description</div>
    </div>
  </div>
</div>
